.blackText {
    font-family: Arial, Sans-serif;
    color: #000000;
    font-size: 16px;
    text-align: left;
    padding: 3px;
}

.redText {
    font-family: Arial, Sans-serif;
    color: #ff0000;
    font-size: 16px;
    text-align: left;
    padding: 3px;
    align-content: center;
}

.blackTextCenter {
    font-family: Arial, Sans-serif;
    color: #000000;
    font-size: 16px;
    align-content: center;
    text-align: center;
    padding: 3px;
}

.verticalLogoPanel {
    margin-top: 20px;
    float:left;
    alignment: left;
    font-size: 18px;
    align-content: left;
    text-align: left;
    width: 150px;
}

.verticalCentralPanel {
    margin-top: 40px;
    margin-left: 40%;
}

.logoText {
    font-family: Arial, Sans-serif;
    color: #000000;
    font-size: 14px;
    float:left;
    align-content: left;
    text-align: left;
}

.loginButton {
    border: 1px solid #3399DD;
    color: #FFFFFF;
    background: #555555;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px 0 0;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 #3399DD;
}

.box {
    border: 1px solid #AACCEE;
    display: block;
    font-size: 16px;
    margin: 0 0 5px;
    padding: 3px;
    width: 203px;
}

.background {
    background-color: #999999;
    color: #000000;
    font-size: 16px;
    margin-left: -8px;
    margin-top: 5px;
    padding: 6px;

}

.horizontalCentralPanel {
    width: 100%;
    border-top: 1px solid black;
}

.footer {
    font-size: 12px;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 99%;
    border-top: 1px solid black;
}

.logoPanel {

}

