<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>Main.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Main MainRpcService</servlet-name>
        <servlet-class>server.MainRpcServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main MainRpcService</servlet-name>
        <url-pattern>/gwthiber/MainRpcService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>remoteLogging</servlet-name>
        <servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>remoteLogging</servlet-name>
        <url-pattern>/gwthiber/remote_logging</url-pattern>
    </servlet-mapping>

</web-app>
